<div class= "center" id = "about-me">
<h1 class = "white-text center waddup"> Hello. </h1>
<h2 class = "white-text center waddup paragraph-end"> My name is Roger. </h2>
<p class = "white-text left waddup"> My whole life I have been creating things and I'm </p>
<p class = "white-text left waddup"> passionate about all aspects of the development </p>
<p class = "white-text left waddup"> process.  I'm obsessed with making the client/admin</p>
<p class = "white-text left waddup"> experience as unique and awesome as possible. </p>
<p class = "white-text left waddup paragraph-end"> I am a Full_Stack Engineer, what does that mean? </p>
<p class = "white-text left waddup"> It means that I'm familiar with building out the </p>
<p class = "white-text left waddup"> front-end, all the way to the back-end.  Here are</p>
<p class = "white-text left waddup"> the stacks/technologies that I know. Along with a  </p>
<p class = "white-text left waddup paragraph-end"> percentage representing how knowledgeable I am. </p>
<div class = "row center">
<div class = "col s4 m4 l4">
<h3 class = "white-text waddup"> MEAN </h3>
<div class = "progress">
	<div class = "determinate" style="width: 90%">
		
	</div>
 	</div>
<p class="waddup blue-text"> 90% </p>
</div>
<div class = "col s4 m4 l4">
<h3 class = "white-text waddup"> RAILS </h3>
<div class = "progress">
	<div class = "determinate" style="width: 80%">
		
	</div>
 	</div>
 <p class="waddup blue-text"> 80% </p>
</div>
<div class = "col s4 m4 l4">
<h3 class="white-text waddup"> LAMP </h3>
<div class = "progress">
	<div class = "determinate" style="width: 75%">
		
	</div>
 	</div>
<p class="waddup blue-text"> 75% </p>
</div>
</div>
</div>


