<div class= "center" id = "">
<h1 class = "white-text center waddup"> Contact Me</h1>
<form ng-submit="shootMail()"class="waddup">
	<input class="waddup white-text" type="text" ng-model="client.name" placeholder="name"/></br>
	<input class="waddup white-text" type="text" ng-model="client.subject" placeholder="subject"/></br>
	<input class="waddup white-text" type="text" ng-model="client.email" placeholder="email"/></br>
	<input class="waddup white-text" type="text" ng-model="client.contact" placeholder="phone (optional)"/></br>
	<textarea class="waddup white-text" ng-model="client.summary" type="text" placeholder="What can I build for you?"></textarea></br>
	<input type="submit" class="waddup" />
</form>
</div>