<div class= "center" id = "work">
<div class = "row center">
<a href="https://github.com/dmacstack/cream"><img src="images/cream.png" class = "waddup col s12 m12 l12 center img-responsive" /></a>
<a href="https://github.com/universalflux/sample_app"><img src="images/hacktheplanet.png" class = "waddup col s12 m12 l12 center img-responsive" /></a>
<a href="https://whispering-tundra-67176.herokuapp.com"> <img src="images/pirate_chat.png" class = "waddup col s12 m12 l12 center img-responsive" /></a>
</div>

</div>